@import '../variables.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma-pricingtable/src/sass/index.sass';

@font-face {
  font-family: 'KiloGram';
  font-display: block;
  src: url('../../fonts/kilogram.otf') format('opentype');
}

// specs
// .spec-list {
//   font-family: 'questa-slab';
// }

.brand-name {
  font-family: 'KiloGram';
  font-size: 8rem;
  line-height: 7rem;
  color: $primary;
}

// notes
.notes {
  font-size: 0.75em;
}

// kits
.kit-card {
  min-height: 55vh;
}

.kit-card .card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

// kits table
th {
  font-weight: 700;
}

td {
  font-weight: 300;
}

td a {
  color: #000;
}

td a:hover {
  color: $primary;
}

@include mobile {
  .navbar-menu {
    background-color: $info;
  }

  .navbar-burger, .navbar-burger:hover, .navbar-burger:active {
    color: #fff;
  }

  .navbar-burger .invert, .navbar-burger:hover .invert, .navbar-burger:active .invert {
    color: #000;
  }
}