@import '../variables.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';

.hero-body .container .title, .hero-body .container .subtitle {
  color: #fff;
}

.hero-kit-title {
  font-family: 'KiloGram';
  font-size: 6rem;
  line-height: 7rem;
  color: '#fff';
}

.hero-product-title {
  font-family: 'questa-slab';
  font-weight: 700;
  font-size: 3rem;
  line-height: 5rem;
  color: '#fff';
}

.hero-video video { position: relative; left: auto; top: auto; transform: none; object-fit: cover; min-height: inherit; }

@include mobile {
  .hero-video {
    // background-image: url('../images/poster.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }

  .hero-image {
    position: relative;
    left: auto;
    top: auto;
    height: 100vh;
  }

  .hero-video video {
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }

  .hero-kit-title {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}