// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import '~bulma/sass/utilities/mixins';

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'KiloGram';
  src: url('../fonts/kilogram.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('../fonts/nexa-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/nexa-light.otf') format('opentype');
}

.spec-list {
  font-family: 'Nexa Light';
}

.brand-name {
  font-family: 'KiloGram';
  font-size: 8rem;
  line-height: 7rem;
  color: $primary;
}

.hero .navbar {
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.1),rgba(0,0,0, 0));
}

.hero-body .container .title, .hero-body .container .subtitle {
  color: #fff;
}

.hero-video video { position: relative; left: auto; top: auto; transform: none; object-fit: cover; min-height: inherit; }

@include mobile {
  .hero-video {
    background-image: url('../images/poster.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }

  .hero-video video {
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }
}

.navbar-item {
  color: #fff;  
}

.container .title {
  color: $primary;
}

.subtitle {
  font-family: 'Nexa Light';
}

.details p {
  font-family: 'Nexa Light';
}

.button.is-text {
  text-decoration: none;
}

.navbar-item img {
	max-height: 2.75rem;
}

.navbar-brand-icon {
	height: 30rem;
	display: flex;
}

.card p, .card ul {
  font-family: 'Nexa Light';
}

.footer-link {
  color: #fff;
  font-family: 'Nexa Light';
}

.footer-link:hover, .footer-link:active, .footer-link:focus {
  color: $info;
}

.brand-icon-mobile {
  position: relative;
  top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.download-app {
  width: 10rem;
  margin-right: 2rem;
}

.notes {
  font-family: 'Nexa Light';
  font-size: 0.75em;
}
