// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import '~bulma/sass/utilities/mixins';

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'KiloGram';
  font-display: block;
  src: url('../fonts/kilogram.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Bold';
  font-display: block;
  src: url('../fonts/nexa-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Light';
  font-display: block;
  src: url('../fonts/nexa-light.otf') format('opentype');
}

.content {
  font-family: 'Nexa Light'
}

.spec-list {
  font-family: 'Nexa Light';
}

.brand-name {
  font-family: 'KiloGram';
  font-size: 8rem;
  line-height: 7rem;
  color: $primary;
}

.hero-head .navbar {
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.8),rgba(0,0,0, 0.0));
}

.hero-body .container .title, .hero-body .container .subtitle {
  color: #fff;
}

.hero-kit-title {
  font-family: 'KiloGram';
  font-size: 6rem;
  line-height: 7rem;
  color: '#fff';
}

.hero-video video { position: relative; left: auto; top: auto; transform: none; object-fit: cover; min-height: inherit; }

@include mobile {
  .hero-video {
    background-image: url('../images/poster.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }

  .hero-video video {
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }

  .hero-kit-title {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .navbar-menu {
    background-color: #000;
  }
}

.navbar-item {
  color: #fff;  
}

.container .title {
  color: $primary;
}

.subtitle {
  font-family: 'Nexa Light';
}

.details p {
  font-family: 'Nexa Light';
}

.button.is-text {
  text-decoration: none;
}

.navbar-item img {
	max-height: 2.75rem;
}

.navbar-brand-icon {
	height: 30rem;
	display: flex;
}

.card p, .card ul {
  font-family: 'Nexa Light';
}

.footer-link {
  color: #fff;
  font-family: 'Nexa Light';
}

.footer-link:hover, .footer-link:active, .footer-link:focus {
  color: $info;
}

.download-app {
  width: 10rem;
  margin-right: 2rem;
}

.notes {
  font-family: 'Nexa Light';
  font-size: 0.75em;
}

.card-header-title {
  text-overflow: clip;
  word-wrap: normal;
}

.product-description {
  font-family: 'Nexa Light';
}

th {
  font-family: 'Nexa Bold'
}

td {
  font-family: 'Nexa Light';
}

td a {
  color: #000;
}

td a:hover {
  color: $primary;
}

input {
  font-family: 'Nexa Light';
}

.bold {
  font-family: 'Nexa Bold';
}

.kit-card {
  min-height: 55vh;
}

.kit-card .card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}