// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import '~bulma-extensions/bulma-pricingtable/dist/css/bulma-pricingtable.sass';
@import '~bulma/sass/utilities/mixins';

html {
  scroll-behavior: smooth;
  font-family: 'questa-slab';
  font-weight: 500;
}

@font-face {
  font-family: 'KiloGram';
  font-display: block;
  src: url('../fonts/kilogram.otf') format('opentype');
}

.content {
  font-family: 'questa-slab';
  font-weight: 500;
}

.spec-list {
  font-family: 'questa-slab';
}

.brand-name {
  font-family: 'KiloGram';
  font-size: 8rem;
  line-height: 7rem;
  color: $primary;
}

.hero-head .navbar {
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.8),rgba(0,0,0, 0.0));
}

.hero-body .container .title, .hero-body .container .subtitle {
  color: #fff;
}

.hero-kit-title {
  font-family: 'KiloGram';
  font-size: 6rem;
  line-height: 7rem;
  color: '#fff';
}

.hero-video video { position: relative; left: auto; top: auto; transform: none; object-fit: cover; min-height: inherit; }

.checkout-root {
  font-family: 'questa-slab';
}

.checkout-root h3 {
  margin-bottom: 1rem;
}

.button {
  font-family: 'questa-slab';
  font-weight: 700;
}

.checkout-title {
  font-family: 'questa-slab';
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #000;
  margin-bottom: 1rem;
}

.checkout-subtitle {
  font-family: 'questa-slab';
  font-weight: 400;
  color: #69797E;
  font-size: 1.2rem;
  color: #69797E;
}

.checkout-items-title {
  margin-bottom: 0.8rem;
}

.checkout-cart h5 {
  font-family: 'questa-slab';
  font-weight: 300;
  font-size: 1rem;
  color: #69797E;
}

.checkout-item-title {
  font-family: 'questa-slab';
  font-weight: 700;
  font-size: 1.2rem;
  color: #000;
}

.checkout-item-subtitle {
  font-family: 'questa-slab';
  font-weight: 300;
  font-size: 0.8rem;
  color: #69797E;
}

.checkout-option-text {
  font-family: 'questa-slab';
  font-weight: 300;
  color: #69797E;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: thin #69797E solid;
}

@include mobile {
  .hero-video {
    // background-image: url('../images/poster.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    display: block;
  }

  .hero-image {
    position: relative;
    left: auto;
    top: auto;
    height: 100vh;
  }

  .hero-video video {
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }

  .hero-kit-title {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .navbar-menu {
    background-color: #000;
  }
}

.navbar-item {
  color: #fff;  
  font-family: 'questa-slab';
  font-weight: 700;
}

.container .title {
  color: $primary;
  font-family: 'questa-slab';
  font-weight: 700;
}

.subtitle {
  font-family: 'questa-slab';
}

.details p {
  font-family: 'questa-slab';
}

.button.is-text {
  text-decoration: none;
}

.navbar-item img {
	max-height: 2.75rem;
}

.navbar-brand-icon {
	height: 30rem;
	display: flex;
}

.card p, .card ul {
  font-family: 'questa-slab';
}

.footer-link {
  color: #fff;
  font-family: 'questa-slab';
}

.footer-link:hover, .footer-link:active, .footer-link:focus {
  color: $info;
}

.download-app {
  width: 10rem;
  margin-right: 2rem;
}

.notes {
  font-family: 'questa-slab';
  font-size: 0.75em;
}

.card-header-title {
  text-overflow: clip;
  word-wrap: normal;
}

.product-description {
  font-family: 'questa-slab';
  font-weight: 300;
}

th {
  font-family: 'questa-slab';
  font-weight: 700;
}

td {
  font-family: 'questa-slab';
  font-weight: 300;
}

td a {
  color: #000;
}

td a:hover {
  color: $primary;
}

input {
  font-family: 'questa-slab';
  font-weight: 300;
}

.bold {
  font-family: 'questa-slab';
  font-weight: 700;
}

.kit-card {
  min-height: 55vh;
}

.kit-card .card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.field {
  font-family: 'questa-slab';
  font-weight: 400;
}

.flex-body {
  display: inline-flex;
}

.field .label {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0em;
}

.field select, .field input {
  border: 0px;
  border-bottom: thin #69797E solid;
  font-family: 'questa-slab';
  padding: 0;
  margin: 0;
}

.field select:hover, .field input:hover,
.field select:focus, .field input:focus,
.field select:active, .field input:active {
  border-bottom: thin $primary solid;
}

.list-item-details {
  background-color: #fff;
  color: $primary;
}

.list-item-cta {
  background-color: $primary;
  color: #fff;
}

.list-item-details:hover {
  font-weight: 700;
  color: $primary;
}

.list-item-cta:hover {
  font-weight: 700;
  color: #fff;
}