// VARIABLES

$primary: #ed177e;
$info: #8617ed;
$text: #333333;

$family-sans-serif: "Nexa Bold";

$link-hover: transparent;
$link-hover-border: #fff;
$link-focus: transparent;
$link-focus-border: #fff;

$button-text-hover-background-color: transparent;
$button-text-color: white;
$button-text-hover-color: $primary;

$card-footer-background-color: $primary