@import '../variables.scss';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';

.footer-link {
  color: #fff;
  font-family: 'questa-slab';
}

.footer-link:hover, .footer-link:active, .footer-link:focus {
  color: $info;
}

.download-app {
  width: 10rem;
  margin-right: 2rem;
}

@include mobile {
  .footer-section {
    margin-bottom: unset;
  }

  .download-app {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    width: 8rem;
  }
}